@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
}

header {
    z-index: 10001 !important;
}

.section-container {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 24px;
    padding-left: 24px;
}

.subtitle {
    color: red;
    text-transform: uppercase;
    letter-spacing: wide;
    font-weight: medium;
    font-size: 1.125rem; /* equivalent to 18px */
    line-height: 1.4;
}

.title {
    font-size: 2.25rem; /* equivalent to 36px */
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.4;
}

@media (min-width: 768px) {
    .title {
        font-size: 2.5rem; /* equivalent to 40px */
        line-height: 1.3;
    }
}

.heartStar{
    border-radius: 0px 28px 0px 28px;
}
